<html>
<body>
    <h1>
        Admin Registered Succesfully!!
    </h1>
    <input type="button" value="Back to Home" onclick="location.href='@Url.Action("Index", "Home")'" />
    <input type="button" value="Login" onclick="location.href='@Url.Action("LoginAdmin", "Admin")'" />
</body>
</html>